{% load static %}
{% block aboutus %}
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              The Team at Pico has crossed mountains and valleys in the sphere of proving cutting-edge technologies
               for varied types of it's clients and we are guided by the following norm:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Authenticity</li>
              <li><i class="ri-check-double-line"></i> Flexibility</li>
              <li><i class="ri-check-double-line"></i> Reliability</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our Ultimate mission is to let businesses and organisations reach their full potential through Information Systems.
              And those entities that have been part of this journey can witness that though the journey has just begun, the positive difference
              is undeniably big.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
{% endblock %}