{% load static %}
{% block action %}
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Let Us Know</h3>
            <p>Do you face challenges in your daily operations that might require an information system to rectify? We are just a click away. Our team of experts can analyse the scenario and come up with a system just for you.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Let Us Know</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
{% endblock %}