{% load static %}
{% block header%}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto" style="color:#fff;text-align:center;font-weight:bold;font-family: 'Merienda', cursive;">
          <a href="index.html">
            JONES & ESTAH
          </a>
        <br>
        <span class="lead" style="font-style:italic;font-weight:300">EXPANDING MARKETS</span>
      </div>
      <!-- Uncomment below if you prefer to use an image logo -->
      {% comment %}<a href="index.html" class="logo me-auto"><img src="{% static 'assets/img/logo 2.png' %}" alt=""></a>{% endcomment %}
      <div>
        {%comment%}<div class="d-none d-lg-block small text-center">
          <a href="tel:+256704926930" class="text-light pe-5"><i class="bi bi-telephone-fill h6"></i> +256 704926930 </a>
          <a href="mailto:info@jonestah.com" class="text-light"> <i class="bi bi-envelope-fill h6"></i> info@jonestah.com</a>
        </div>{% endcomment %}
        <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">Our Services</a></li>
          {% comment %}
          <li class="dropdown"><a href="#"><span>Our Services</span>
          <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for s in services %}
                <li><a href="#">{{s.name}}</a></li>
              {% endfor %}
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          {% endcomment %}
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="#team">About Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      </div>
    </div>
  </header><!-- End Header -->
{% endblock %}