{% load static %}
{% block team %}
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Meet Our Industry Tested Team Which Gives It's Best To Meet Our Client's Expectations</p>
        </div>

        <div class="row">

          {% for t in members %}
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{t.image.url}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{t.name}}</h4>
                <span>{{t.title}}</span>
<!--                We 're tested not to show our weaknesses but to discover our strength-->
                <p>{{t.phrase}}</p>
                <div class="social">
                  <a href="{{t.twitter_handle}}"><i class="ri-twitter-fill"></i></a>
                  <a href="{{t.fb}}"><i class="ri-facebook-fill"></i></a>
                  <a href="{{t.instangram}}"><i class="ri-instagram-fill"></i></a>
                  <a href="{{t.linkedIn}}"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% comment %}
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

        </div>

      </div>
    </section><!-- End Team Section -->
{% endblock %}